<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26052408143-pter09e10eki9o5lqf7s8e0eh6lq60h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26052408143-pter09e10eki9o5lqf7s8e0eh6lq60h2</string>
	<key>API_KEY</key>
	<string>AIzaSyC4I8GyAB28V3Q-tnj76RZTAXE4D21X0Zs</string>
	<key>GCM_SENDER_ID</key>
	<string>26052408143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChatAppGroup.ChatNow</string>
	<key>PROJECT_ID</key>
	<string>chatnow-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>chatnow-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:26052408143:ios:aca1cbf3a1aa3a01cd4b3a</string>
	<key>DATABASE_URL</key>
	<string>https://chatnow-ios-default-rtdb.firebaseio.com/</string>
</dict>
</plist>
